<footer>
  <div class="top-footer">
    <div class="logo">
      <h1>Todo List</h1>
      <p>Organize your tasks efficiently</p>
    </div>
    <div class="page-links">
      <h1>Pages</h1>
      <a routerLink="/">Home</a>
      <a routerLink="/tasks">Tasks</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/createAccount">Create Account</a>
    </div>
    <div class="page-about">
      <h1>About US</h1>
      <a>About</a>
      <a>Contact</a>
      <a>Privacy Policy</a>
    </div>
  </div>
  <div class="trait"></div>
  <div class="bottom-footer">
    <div class="social-media">
      <a><i class="fa-brands fa-facebook"></i></a>
      <a><i class="fa-brands fa-instagram"></i></a>
      <a><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://github.com/AdrienMttn"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
    <p>&copy; 2025 Todo List. All rights reserved.</p>
  </div>
</footer>
