<div class="login-container">
  @if (this.http.getUser() == undefined) {
  <h1>Login</h1>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Email">Email :</label>
      <input type="email" formControlName="email" />
      <small
        *ngIf="
          formGroup.get('email')?.invalid && formGroup.get('email')?.touched
        "
        style="color: red; margin-left: 10px"
        >Please enter a valid email address.</small
      >
    </div>
    <div class="form-group">
      <label for="password">password :</label>
      <input type="password" formControlName="password" />
      <small
        *ngIf="
          formGroup.get('password')?.invalid &&
          formGroup.get('password')?.touched
        "
        style="color: red; margin-left: 10px"
        >Please enter password.</small
      >
      <a href="/forgot-password">Forgot Password?</a>
    </div>
    <div class="button-container">
      <button type="submit">Login</button>
      <button type="button" (click)="goSignUp()">Sign Up</button>
    </div>
  </form>
  <div class="error-message" *ngIf="this.error">
    {{ this.message }}
  </div>
  }@else {
  <h1>Welcome {{ this.http.getUser()?.username }}</h1>
  <button (click)="this.http.logout()">Logout</button>
  }
</div>
